body
{
	background-color: lightblue
}

thumbnail
{
	height: 200px;
	width: 200px;
	padding: 10px;
}

.hamburger
{
	position: absolute;
	bottom: 0;
	right: 0;
	padding-bottom: 5px;
	padding-right: 10px;
}
