
@{
    ViewBag.Title = "AddPhotos";
}

<h1 style="text-align: center;">Add Photos</h1>

<div style="padding-top: 40px;text-align: center">
	@Html.ActionLink("Back To Manage Photos", "ManagePhotos", "Home", null, new { @class = "btn btn-danger",
	@style = "width:500px; "
})
</div>



