
@{
	ViewBag.Title = "EditDeletePhotos";
}

<h1 style="text-align: center;">Edit/Delete Photos</h1>

<div style="padding-top: 40px; padding-bottom: 40px;text-align: center">
	@Html.ActionLink("Back To Manage Photos", "ManagePhotos", "Home", null, new { @class = "btn btn-danger",
	@style = "width:500px; "
})
</div>

<form>
	@{

		foreach (var currImage in (IEnumerable<string>)ViewBag.Images)
		{
			<div>
				<a href="@Url.Content(currImage)">
					<img src="@Url.Content(currImage)" style="width: 200px; height: 200px; padding-right: 40px; padding-bottom: 5px;" onclick="javascript:window.open(currImage)" />
				</a>
				@Html.ActionLink("Delete Picture", "DeletePic", new { file = currImage }, new { @class = "btn btn-danger" })


			</div>

		}

	}

</form>

