
@{
    ViewBag.Title = "ManagePhotos";
}

<h1 style="text-align: center;">Manage Photos</h1>

<div style="padding-top: 40px;text-align: center">
	@Html.ActionLink("Back To Main Menu", "AdminLanding", "Home", null, new { @class = "btn btn-danger",
	@style = "width:500px; "
})
</div>
<br/>
<br/>
<h1 style="text-align: center">@ViewBag.ResultMessage</h1>

<br/>
<br/>
<div id="button-container">
	<div class="col-md-6" style="text-align: center">
		@Html.ActionLink("Add Photos", "AddPhotosAsync", "Home", null, new { @class="btn btn-success",
		@style = "height: 200px; width: 200px;  line-height: 180px; "})
	</div>


	<div class="col-md-6" style="text-align:center">
		@Html.ActionLink("Edit or Delete Photos", "EditDeletePhotos", "Home", null, new { @class="btn btn-success",
		@style = "height: 200px; width: 200px; line-height: 180px; "})
	</div>


	

</div>

